@media screen and (max-width: 427px) {
    .advant-icon-container {
        display: none;
    }

    .modal {
        width: 100vw;
        max-width: 300px;
    }

    .modal-title {
        font-size: 10px;
    }

    .check-text {
        font-size: 8px;
    }


}

@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;

    }

    .advant-icon-container {
        display: none;
    }

    .head-text {
        font-size: 36px;
    }

    .mob-contacts-item-m {
        font-size: 36px;
    }



}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .logo-link {
        margin-right: 120px;
    }

    .contacts {}

    .head-title {

        width: 100%;
        text-align: center;
        padding: 112px 0 112px;
        background-image:
            linear-gradient(180deg,
                rgba(17, 17, 17, 0),
                rgba(17, 17, 17, 0.4)),
            url(../images/back-tab.jpg);


        max-width: 768px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;

    }

    .head-text {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .head-title {
            background-image: linear-gradient(180deg, rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                url(../images/back-mob2.jpg);
        }
    }


    .advantages-list {

        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;


    }

    .advantages-item {
        align-items: flex-start;
        width: calc((100% - 24px) / 2);

    }

    .advantages-title {
        margin: 0;
    }


    .advant-icon-container {
        display: none;
    }

    .team-list {
        gap: 64px 24px;
    }

    .team-item {
        /* width: calc((100% - 24px) / 2); */
    }

    .costumers-list {
        justify-content: center;
        gap: 72px 24px;

    }

    .costumers-item {
        width: 168px;

    }

    .footer-container {
        width: 584px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;
        text-align: start;
    }

    .logo-footer {
        align-items: start;
    }

    .subscribe-btn {
        margin-left: 24px;
        margin-top: 0;
    }

    .footer-social-block {
        padding: 0;
    }

    .phone-modal-btn {
        display: none;
    }

    .contacts-list {
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {

        font-size: 12px;

        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.04em;

    }


}





@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
    }

    .logo-link {
        margin-right: 78px;
    }

    .head-title {

        width: 100%;
        text-align: center;
        padding: 188px 0 188px;
        background-image:
            linear-gradient(180deg, rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/peopleofc.jpg);

        max-width: 1440px;
        /* max-width: 428px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;

    }

    .head-text {
        font-size: 56px
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .head-title {
            background-image: linear-gradient(180deg, rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                url(../images/peopleofc2.jpeg);
        }
    }

    .advantages-list {

        display: flex;
        gap: 24px;
    }

    .advantages-item {
        display: block;
        width: calc((100% - 72px) / 4);
    }

    .advantages-subtitle {


        font-weight: 400;
        font-size: 14px;

    }

    .advantages-section-list {
        padding: 120px 0 120px;
    }

    .advant-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .costumers-list {
        gap: 24px;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .secttion-team {
        padding: 120px 0;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .footer-container {
        width: 100%;


    }

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }

    .logo-footer {
        align-items: start;
        margin-right: 120px;
    }

    .footer-social-block {
        display: block;
        margin-right: 80px;
        padding: 0;
    }

    .footer-form {
        display: flex;
        gap: 24px;
        flex-shrink: 0;
    }

    .subscribe-btn {
        margin-left: 0;
        margin-top: 0;
    }

    .contacts-list {
        display: flex;
        flex-direction: row;

    }

    .contacts-link {
        font-size: 16px;

    }
}



@media screen and (max-width: 767px) {
    .contacts {
        display: none;
    }

    .header-list {
        display: none;
    }


}



@media screen and (max-width: 1157px) {
    .doing-section {
        display: none;
    }

    .advantages-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }


}